<PaperSidenavContainer class="inner-sidenav layout-fill">
  <SideBar @sideBarOpen={{this.sideBarOpen}} />

  <PaperCardContent class="flex layout-fill">
    <Header
      @toggleSideBar={{toggle-action "sideBarOpen" this}}
    />
    <div class="layout-fill layout-align-start-center layout-column">
      {{yield}}
    </div>
  </PaperCardContent>
</PaperSidenavContainer>