<PaperSidenavContainer class="inner-sidenav layout-fill">
  <SideBar @sideBarOpen={{this.sideBarOpen}} />

  <PaperCardContent class="flex layout-fill">
    <UserContainer as |user|>
      <Header
        @user={{user}}
        @toggleSideBar={{toggle-action "sideBarOpen" this}} />
    </UserContainer>
    <div class="layout-fill layout-align-start-center layout-column">
      {{yield}}
    </div>
  </PaperCardContent>
</PaperSidenavContainer>