<PaperToolbar>
  <PaperToolbarTools>
    <PaperButton @iconButton=true @onClick={{this.args.toggleSideBar}}>
      <PaperIcon @icon="menu" />
    </PaperButton>
    <h2>
      {{this.title}}
    </h2>
  </PaperToolbarTools>
</PaperToolbar>